---
layout: default-cobertura
---

<div class="content-404 text-center">
  <img src="{{ site.baseurl }}/img/sad-mac.png">
  <h1>404</h1>

  <p class="lead"><strong>Oops! No hemos encontrado la página que estás buscando.</strong></p>
</div>
