---
layout: default-cobertura
---

<div class="container">

  <div class="content-404 row">
    <div class="col-md-6 text-right">
      <lottie-player
          src="lottie/notFound.json" background="transparent" speed="0.8" loop autoplay class="lottie-notFound">
      </lottie-player>
    </div>
    <div class="col-md-6 text-404">
      <h1>Ooops!</h1>
      <h2>No hemos encontrado lo que estás buscando.</h2>
      <a href="{{site.baseurl}}/">
        <img src="img/arrow-icon-left.svg">
        Ir a inicio
      </a>
    </div>
  </div>

</div>
