.navbar{
  margin-bottom: 0;
  padding: 10px 0;
}

.navbar-default{
  background: transparent;
  border: none !important;
  border-radius: 0 !important;
}

.navbar-default .navbar-nav>li>a{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand img{
  width: 100px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: transparent;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff;
}
.navbar-toggle{
  margin-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-collapse{
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}

/*/// NAV SCROLL ///*/
.nav-background{
  background: transparent;
  transition: all 0.5s;
}
.nav-outback{
  background-color: rgba(79, 188, 167, 1);
  transition: all 0.5s;
}

.nav-backg{
  background-color: rgba(79, 188, 167, 1);
}

