<!DOCTYPE html>
<html>

 {% include head.md %}

</head>

  <body>

    {% include nav_bg.md %}

    <div class="container marginTop">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center post">
          <h1>{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> | Por: <span class="post_author">{{ page.post_author }}</span></p>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-12 post-content">
          {{ content }}
        </div>

        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
          <a href="{{site.baseurl}}/blog">Regresar al Blog</a>
        </div>

      </div>

      {% include footer.md %}

    </div>

  </body>

</html>
